.intro-background {
  display: flex;
  flex-direction: row;
}

.intro-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.facts-item {
  display: flex;
  padding: 24px;
  flex: 1;
  flex-direction: column;
}

.facts-background {
  display: flex;
  padding: 24px;
  flex: 1;
  flex-direction: column;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture {
  width: 80%;
  height: 100%;
}
